div
  nav(role='navigation')
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li
        a(href='/page1') Page 1
      li
        a(href='/page2') Page 2
      li
        a(href='#hash-link') Hash link

  h1 Page:
  div(role='page')
